<!DOCTYPE html>
<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.min.js"></script>
        <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form class="form-signin">
                        <div class="account-logo">
                            <a href="index-2.html"><img src="~/img/logo-dark.png" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input type="text" id="username" autofocus="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" class="form-control">
                        </div>
                        <div class="form-group text-right">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" id="LoginInButton">Login</button>
                        </div>
@*                         <div class="text-center register-link">
                            Don’t have an account? <a href="register.html">Register Now</a>
                        </div> *@
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/app.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/noty@3.1.4/lib/noty.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/noty@3.1.4/lib/noty.min.js"></script>
</body>


</html>
<script>
    document.getElementById('LoginInButton').addEventListener('click', function () {
        debugger
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        $.ajax({
            url: '/Home/ValidateLogin',
            type: 'POST',
            data: {
                username: username,
                password: password
            },
            success: function (response) {
                console.log(response);
                if (response.status) {
                    window.location.href = response.data.url;
                } else {
                    new Noty({
                        text: response.message,
                        type: 'alert',
                        timeout: 3000
                    }).show();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error:', textStatus, errorThrown);
                console.error(jqXHR.responseText); // This will give detailed error information
            }
        });
    });
</script>